// Font import mixin
@mixin font-face($font-family, $folder-name, $font-name, $font-weight: 400) {
  @font-face {
    font-family: '#{$font-family}';
    src: local('#{$font-name}'),
    url('/fonts/#{$folder-name}/#{$font-name}.woff') format('woff');
    font-style: normal;
    font-weight: $font-weight;
    font-display: swap;
  }
}

// Typography mixins
@mixin text-primary {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: $color-gray-30;
}

@mixin text-secondary {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: $color-gray-20;
}

@mixin text-subtitle {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: $color-gray-40;
}

@mixin text-large {
  font-size: 64px;
  line-height: 76px;
  font-weight: 700;
}

@mixin section-title {
  font-size: 35px;
  font-weight: 600;
  line-height: 1;
  color: $color-blue-90;
}