// colors
$color-dark: #1C1C1D;

$color-blue-90: #000339;
$color-blue-80: #0F1B4C;
$color-blue-60: #002366;
$color-blue-50: #063183;
$color-blue-30: #0689FF;
$color-blue-10: #E6F0FF;
$color-blue-5: #F5FAFE;


$color-gray-70: #3B3C45;
$color-gray-60: #4D4D52;
$color-gray-50: #4F5361;
$color-gray-40: #5A6473;
$color-gray-30: #687690;
$color-gray-20: #7D8589;
$color-gray-15: #7A7A7E;
$color-gray-10: #A3A6AB;
$color-gray-5: #A7A7A7;
$color-gray-0: #F9F9F9;


// efx
$transition-primary: all 0.25s ease-in-out;
$transition-secondary: all 0.3s ease-out;