<div class="first-section">
  <div class="container">
    <header class="first-section__header">
      <a href="/" class="first-section__logo">
        <img src="assets/images/main-logo.svg" alt="logo" />
      </a>

      <nav class="first-section__navigation">
        <ul>
          <li><a href="/"> Home </a></li>
          <li><a href="#properties"> Features </a></li>
          <li><a href="#how-it-works"> Service </a></li>
          <li><a href="#list"> Listed </a></li>
          <li><a href="#footer"> Contact </a></li>
        </ul>
      </nav>

      <div class="first-section__auth">
        <button class="btn">Sign in</button>
        <button class="btn btn-primary">Register</button>
      </div>
    </header>

    <div class="first-section__content-wrapper">
      <div class="first-section__content-info">
        <div class="first-section__suptitle">Welcome to Besnik Agency</div>
        <div class="first-section__title">
          Discover a place you'll love to live.
        </div>
        <div class="first-section__subtitle">
          Get the best real estate deals first, before they hit the mass market!
          hot foreclosure deals with one simple search
        </div>

        <button
          class="btn btn-primary btn-primary--large first-section__content-cta"
        >
          More About Us
        </button>
      </div>
      <div class="first-section__content-image">
        <img src="assets/images/house-illustration.svg" alt="content image" />
      </div>
    </div>
  </div>
</div>
