<div class="footer">
  <div class="container">
    <div class="footer__cols-wrapper">
      <div class="footer__column">
        <div class="footer__column-title">Product</div>
        <ul class="footer__column-items">
          <li><a href="/"> Listing </a></li>
          <li><a href="#properties"> Property </a></li>
          <li><a href="/"> Agents </a></li>
          <li><a href="/"> Blog </a></li>
        </ul>
      </div>
      <div class="footer__column">
        <div class="footer__column-title">Resources</div>
        <ul class="footer__column-items">
          <li><a href="/"> Our Homes </a></li>
          <li><a href="/"> Member Stories </a></li>
          <li><a href="/"> Video </a></li>
          <li><a href="/"> Free trial </a></li>
        </ul>
      </div>
      <div class="footer__column">
        <div class="footer__column-title">Company</div>
        <ul class="footer__column-items">
          <li><a href="/">Patnerships </a></li>
          <li><a href="/"> Terms of use </a></li>
          <li><a href="/"> Privacy </a></li>
          <li><a href="/"> Sitemap </a></li>
        </ul>
      </div>
      <div class="footer__column">
        <div class="footer__column-title">Get in touch</div>
        <div class="footer__column-item">
          You’ll find your next home, in any style you prefer.
        </div>
        <div class="footer__socials">
          <a
            href="http://fb.com"
            target="_blank"
            rel="noopener noreferrer"
            class="footer__social footer__social--facebook"
          >
          <img src="/assets/icons/fb-icon.svg" alt="fb icon">
  
          </a>
          <a
            href="http://twitter.com"
            target="_blank"
            rel="noopener noreferrer"
            class="footer__social footer__social--twitter"
          >
          <img src="/assets/icons/twitter-icon.svg" alt="twitter icon">
          </a>
          <a
            href="http://linkedin.com"
            target="_blank"
            rel="noopener noreferrer"
            class="footer__social footer__social--linkedin"
          >
          <img src="/assets/icons/linkedin-icon.svg" alt="linkedin icon">
          </a>
       
        </div>
      </div>
    </div>

    <div class="footer__bottom-wrapper">
      <img src="/assets/images/main-logo.svg" alt="footer logo" class="footer__logo">
      <div class="footer__rights">
        Copyright 2020.com, All rights reserved.
      </div>
    </div>
  </div>
</div>
