<div class="how-it-works">
  <div class="container">
    <div class="how-it-works__title-wrapper">
      <div class="how-it-works__title">How its works ?</div>
      <div class="how-it-works__subtitle">
        Everything you need to know when you're looking to buy, rent, or sell -
        all in one place.
      </div>
    </div>

    <div class="how-it-works__guides-wrapper">
      <div class="how-it-works__guide">
        <img src="assets/icons/buyer-icon.svg" alt="buyer icon" />
        <div class="how-it-works__guide-title">Buyer Guides</div>
        <a href="">
          <button class="btn btn-secondary">How to buy</button>
        </a>
      </div>
      <div class="how-it-works__guide">
        <img src="assets/icons/renter-icon.svg" alt="rent icon" />
        <div class="how-it-works__guide-title">Renter Guides</div>
        <a href=""> <button class="btn btn-secondary">How to rent</button> </a>
      </div>
      <div class="how-it-works__guide">
        <img src="assets/icons/seller-icon.svg" alt="buyer icon" />
        <div class="how-it-works__guide-title">Seller Guides</div>
        <a href="">
          <button class="btn btn-secondary">How to sell</button>
        </a>
      </div>
    </div>
    <a href="" class="how-it-works__guide-btn">
      <button class="btn btn-primary btn-primary--large">
        See full guidelines
      </button>
    </a>
  </div>
</div>
