<div class="neighborhood">
  <div class="container neighborhood__container">
    <div class="neighborhood__content-left">
      <div class="neighborhood__card">
        <div class="neighborhood__card-value">40,000<span>+</span></div>
        <div class="neighborhood__card-text">
          By avarage for 2 bedroom apments in San Francisco, CA
        </div>
        <div class="neighborhood__card-user-icons">
          <img src="/assets/images/round-img-1.png" alt="user icon" />
          <img src="/assets/images/round-img-2.png" alt="user icon" />
          <img src="/assets/images/round-img-3.png" alt="user icon" />
          <img src="/assets/images/round-img-3.png" alt="user icon" />
          <img src="/assets/images/round-img-2.png" alt="user icon" />
          <img src="/assets/images/round-img-2.png" alt="user icon" />
          <img src="/assets/images/round-img-3.png" alt="user icon" />
          <img src="/assets/images/round-img-1.png" alt="user icon" />
          <img src="/assets/images/round-img-3.png" alt="user icon" />
          <img src="/assets/images/round-img-1.png" alt="user icon" />
          <img src="/assets/images/round-img-2.png" alt="user icon" />
          <img src="/assets/images/round-img-3.png" alt="user icon" />
          <img src="/assets/images/round-img-1.png" alt="user icon" />
          <img src="/assets/images/round-img-3.png" alt="user icon" />
          <img src="/assets/images/round-img-2.png" alt="user icon" />
          <img src="/assets/images/round-img-2.png" alt="user icon" />
          <img src="/assets/images/round-img-3.png" alt="user icon" />
          <img src="/assets/images/round-img-1.png" alt="user icon" />
        </div>
      </div>
      <div class="neighborhood__image-holder">
        <img src="/assets/images/neighborhood-img.png" alt="image" />
      </div>
    </div>

    <div class="neighborhood__content-right">
      <div class="neighborhood__title">
        You’ve found a neighborhood you love.
      </div>

      <div class="neighborhood__subtitle">
        When you own a home, you’re committing to living in one location for a
        while. In a recent Trulia survey, we found that five out of six
        respondents said finding the right neighborhood
      </div>
    </div>

    <div class="neighborhood__numbers">
      <div class="neighborhood__number">
        <div class="neighborhood__number-value">2,500</div>
        <div class="neighborhood__number-text">Homes For Sale</div>
      </div>
      <div class="neighborhood__number">
        <div class="neighborhood__number-value">5000+</div>
        <div class="neighborhood__number-text">Homes Recently Sold</div>
      </div>
      <div class="neighborhood__number">
        <div class="neighborhood__number-value">170+</div>
        <div class="neighborhood__number-text">Price Reduced</div>
      </div>
    </div>
  </div>
</div>
