<div class="partners-section">
  <div class="container">
    <div class="partners-section__top-side">
      <div class="partners-section__top-left">
        <img
          class="partners-section__logo"
          src="/assets/images/main-logo.svg"
          alt="main logo"
        />
        <div class="partners-section__text">
          More than 45,000+ companies trust besnik
        </div>
      </div>

      <div class="partners-section__top-right">
        <div class="partners-section__rating">
          <i class="star-icon"> </i>
          <i class="star-icon"> </i>
          <i class="star-icon"> </i>
          <i class="star-icon"> </i>
          <i class="star-icon"> </i>
        </div>
        <div class="partners-section__text">5 Star Ratings (2k+ Review)</div>
      </div>
    </div>

    <ul class="partners-section__partners">
      <li>
        <a
          href="https://www.meundies.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/icons/meundies-logo.svg" alt="menudies logo" />
        </a>
      </li>
      <li>
        <a
          href="https://www.slack.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/icons/slack-logo.svg" alt="slack logo" />
        </a>
      </li>
      <li>
        <a
          href="https://www.amazon.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/icons/amazon-logo.svg" alt="amazon logo" />
        </a>
      </li>
      <li>
        <a
          href="https://www.woocommerce.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/assets/icons/woocommerce-logo.svg"
            alt="woocommerce logo"
          />
        </a>
      </li>
      <li>
        <a
          href="https://www.sitepoint.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/icons/sitepoint-logo.svg" alt="sitepoint logo" />
        </a>
      </li>
    </ul>
  </div>
</div>
