<div class="properties">
  <div class="container">
    <div class="properties__top-line">
      <div class="properties__title-holder">
        <h2 class="properties__title">Featured Properties</h2>
        <div class="properties__subtitle">
          Everything you need to know when you're looking
        </div>
      </div>

      <a href="">
        <button class="btn btn-secondary properties__view-all-cta">
          View All Properties
        </button>
      </a>
    </div>

    <div class="properties__cards-wrapper">
      <div class="properties__card">
        <img
          class="properties__card-img"
          src="assets/images/prop-1.jpg"
          alt="property img"
        />
        <div class="properties__card-content">
          <div class="properties__card-price-holder">$35000</div>
          <div class="properties__card-text">
            8502 Preston Rd. Inglewood, Maine 98280
          </div>
          <div class="properties__card-specs-holder">
            <div class="properties__card-spec">
              <img src="assets/icons/bed-icon.svg" alt="bed icon" />
              5 Beds
            </div>
            <div class="properties__card-spec">
              <img src="assets/icons/bath-icon.svg" alt="bath icon" />
              5 Bath
            </div>
            <div class="properties__card-spec">
              <img src="assets/icons/area-icon.svg" alt="area icon" />
              2000 Sqft
            </div>
          </div>
        </div>
      </div>
      <div class="properties__card">
        <img
          class="properties__card-img"
          src="assets/images/prop-2.jpg"
          alt="property img"
        />
        <div class="properties__card-content">
          <div class="properties__card-price-holder">$35000</div>
          <div class="properties__card-text">
            8502 Preston Rd. Inglewood, Maine 98280
          </div>
          <div class="properties__card-specs-holder">
            <div class="properties__card-spec">
              <img src="assets/icons/bed-icon.svg" alt="bed icon" />
              5 Beds
            </div>
            <div class="properties__card-spec">
              <img src="assets/icons/bath-icon.svg" alt="bath icon" />
              5 Bath
            </div>
            <div class="properties__card-spec">
              <img src="assets/icons/area-icon.svg" alt="area icon" />
              2000 Sqft
            </div>
          </div>
        </div>
      </div>
      <div class="properties__card">
        <img
          class="properties__card-img"
          src="assets/images/prop-3.jpg"
          alt="property img"
        />
        <div class="properties__card-content">
          <div class="properties__card-price-holder">$35000</div>
          <div class="properties__card-text">
            8502 Preston Rd. Inglewood, Maine 98280
          </div>
          <div class="properties__card-specs-holder">
            <div class="properties__card-spec">
              <img src="assets/icons/bed-icon.svg" alt="bed icon" />
              5 Beds
            </div>
            <div class="properties__card-spec">
              <img src="assets/icons/bath-icon.svg" alt="bath icon" />
              5 Bath
            </div>
            <div class="properties__card-spec">
              <img src="assets/icons/area-icon.svg" alt="area icon" />
              2000 Sqft
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
