<div class="properties-banner">
  <div class="container">
    <div class="properties-banner__wrapper">
      <div class="properties-banner__text-holder">
        <h2 class="properties-banner__title">Featured Properties</h2>
        <div class="properties-banner__subtitle">
          Everything you need to know when you're looking
        </div>
        <button
          class="btn btn-primary btn-primary--large btn-primary--inverted"
        >
          Get Started Now
        </button>
      </div>

      <img
        class="properties-banner__phone-img"
        src="/assets/images/mobile-img.png"
        alt="mobile image"
      />
    </div>
  </div>
</div>
