.neighborhood {
  padding: 125px 0 103px;

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__content-left {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  &__image-holder {
    width: 400px;
    border-radius: 12px;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
    }
  }

  &__card {
    width: 239px;
    background-color: #fff;
    box-shadow: 90px 85px 100px rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 12px 12px;
    flex-shrink: 0;
    position: absolute;
    left: 37px;
    top: 0;
    z-index: 2;
    padding: 45px 22px 24px;
  }

  &__card-value {
    font-size: 26px;
    line-height: 1;
    font-weight: 700;
    color: $color-blue-90;
    letter-spacing: 0.1px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    span {
      font-weight: 500;
    }

    &:after {
      content: "";
      width: 25px;
      height: 16px;
      background: url('../assets/icons/green-arrow.svg') no-repeat center / cover;
      display: inline-block;
      margin-left: auto;
    }
  }

  &__card-text {
    font-size: 12px;
    line-height: 18px;
    color: $color-gray-5;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #E9E9E9;
  }

  &__card-user-icons {
    display: flex;
    flex-wrap: wrap;

    img {
      width: 17px;
      height: 17px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: -6px;
      object-fit: cover;
      margin-bottom: 14px;
      box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);

      &:nth-child(2n) {
        margin-right: 6px;
      }

      &:nth-child(4n) {
        margin-right: -6px;
      }

      &:nth-child(3n) {
        margin-right: 6px;
      }
    }
  }

  &__content-right {
    width: 50%;
    padding: 0 85px 0 165px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    @include section-title;
    line-height: 45px;
    margin-bottom: 20px;
    position: relative;

    &::before {
      content: "";
      width: 41px;
      height: 4px;
      background-color: #000339;
      margin-bottom: 10px;
      display: block;
      border-radius: 12px;
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: 30px;
    color: $color-gray-40;
  }

  &__numbers {
    width: 100%;
    margin-top: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__number-value {
    font-size: 64px;
    font-weight: 600;
    color: #000;
    margin-bottom: 22px;
  }

  &__number-text {
    @include text-primary;
    color: $color-gray-20;
  }
}