.partners-section {
  padding: 122px 0 60px;

  @include upto-lg {
    padding: 80px 0 30px;
  }

  &__top-side {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;

    @include upto-md {
      flex-direction: column;
      margin-bottom: 40px;
    }
  }

  &__logo {
    height: 24px;
    margin-bottom: 23px;

    @include upto-lg {
      margin-bottom: 7px;
    }
  }

  &__text {
    @include text-secondary;

    @include upto-lg {
      font-size: 14px;
    }

    @include upto-sm {
      font-size: 12px;
    }
  }

  &__rating {
    margin-bottom: 14px;
    display: flex;
    justify-content: flex-end;

    @include upto-md {
      justify-content: flex-start;
      margin-top: 20px;
      margin-bottom: 5px;
    }
  }

  &__partners {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include upto-lg {
      flex-wrap: wrap;
      justify-content: center;
    }

    li {
      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 91px;
        padding: 20px 41px;
        border-radius: 12px;
        transition: $transition-secondary;

        &:hover {
          box-shadow: 0px 45px 80px rgba(0, 0, 0, 0.04);
        }

        @include upto-xl {
          padding: 15px 25px;
          height: 70px;

          &:hover {
            box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.04);
          }

          img {
            max-height: 30px;
          }
        }

        @include upto-sm {
          img {
            max-height: 22px;
          }
        }
      }

      @include upto-lg {
        margin-bottom: 20px;
      }
    }
  }
}