.container {
  padding: 0 15px;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.star-icon {
  display: inline-block;
  padding-left: 3px;
  width: 23px;
  height: 19px;

  &:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url('/assets/icons/star-icon.svg') no-repeat center / cover;
  }
}